
.sign_in{
  font-size: 1.2vw;
  font-family: "Nunito Sans";
  color: rgb(57, 132, 243);
  font-weight: bold;
  line-height: 1.75;
  text-align: left;
  border: solid 3px;
  border-color: #3984f3;
  padding: 7px 15px;
  margin-right: 0px;
}
.Home {
  font-size: 1.2vw;
  font-family: "Nunito";
  color: rgb(186, 184, 184);
  line-height: 0.73;
  text-align: center;
  margin-right: 6%;
}
.Video {
  font-size: 1.2vw;
  font-family: "Nunito";
  color: rgb(186, 184, 184);
  line-height: 0.73;
  text-align: center;
  margin-right: 6%;
}
.Destinations {
  font-size: 1.2vw;
  font-family: "Nunito";
  color: rgb(186, 184, 184);
  line-height: 0.73;
  text-align: center;
  margin-right: 6%;
}
.Booking {
  font-size: 1.2vw;
  font-family: "Nunito";
  color: rgb(186, 184, 184);
  line-height: 0.73;
  text-align: center;
  margin-right: 6%;
}
.Home:hover{
  color:#4497f3;
  font-weight: bold;
  transition: all 0.5s ease;
}
.Video:hover{
  color:#4497f3;
  font-weight: bold;
  transition: all 0.5s ease;
}
.Destinations:hover{
  color:#4497f3;
  font-weight: bold;
  transition: all 0.5s ease;
}
.Booking:hover{
  color:#4497f3;
  font-weight: bold;
  transition: all 0.5s ease;
}
.header_logo{
  display: inline-block;
  width: 12%;
  margin-top: 1%;
}
a{
  text-decoration: none;
}

body{
  margin:0;
  width: 100%;
}

.sign_up{
  float: left;
  margin-top: 4%;
  margin-left: 8%;
  font-size: 1vw;
  font-family: "Nunito Sans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.75;
  text-align: left;
  background-color: #3984f3;
  padding:0.5% 2% 0.5% 2%;
}
.sign_upa{
  color: #ffffff;
}
.left_1{
  width: 100%;
  margin: 0 auto;
}
.left_2{
  width: 30%;
  float: left;
  margin-left: 5%;
  margin-top: 11%;
}
.travel{
  font-size: 4vw;
  font-family: "Nunito Sans";
  color: rgb(9, 30, 64);
  font-weight: bold;
  line-height: 1.067;
  float: left;
  width: 100%;
  margin-left: 8%;
  margin-top: 14%;
}

.plan{
  font-size: 1vw;
  font-family: "Nunito Sans";
  color: rgb(129, 133, 142);
  line-height: 0.9;
  float:left;
  width: 100%;
  margin-top: 6%;
  margin-left: 8%;
}
.vector{
  float: right;
  margin-top: 3%;
  width: 55%;
}
.fluid_img{
  max-width: 100%;
}
.godong{
  position: absolute;
  float: left;
  margin-top: 35.7%;
  width: 12%;
}
.amaz{
  width: 91.7%;
  float: left;
  margin:0;
  clear:both;
}
.price{
  width: 62%;
  padding-top: 9%;
  display: inline-block;
}
.maldives{
  width: 22.4%;

}
.maldives:hover{
  transition: 1s;
  transform: scale(1.2);
}
.nepal{
  width: 37%;
}
.nepal:hover{
  transition: 1s;
  transform: scale(1.2);
}
.nepal:focus{
  transition: 1s;
  transform: scale(1.2);
}
.indo{
  width: 37%;
}
.indo:hover{
  transition: 1s;
  transform: scale(1.2);
}
.amazing{
  width: 38%;
  float: right;
  padding-top: 7%;
}
.amaz_p{
  font-size: 3.1vw;
  font-family: "Nunito Sans";
  color: rgb(9, 30, 64);
  line-height: 1.24;
  font-weight: bold;
  margin-bottom: 1%
}
.etiam{
  font-size: 1.1vw;
  font-family: "Nunito Sans";
  color: rgb(129, 133, 142);
  line-height: 1;
}
.explore{
  float: left;
  margin-top: 8%;
  font-size: 1.5vw;
  font-family: "Nunito Sans";
  color: rgb(255, 255, 255);
  line-height: 1.75;
  text-align: left;
  background-color: #3984f3;
  padding:0.5% 7%;
}
